.calculator {
  width: 20%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: xx-large;
  border-radius: 5%;
  border: double black 2px;
  padding: 0.5em;
  float: right;
}
.c-button {
  margin: 0.1em;
  border: double rgb(70, 14, 173) 1px;
  display: flex;
  justify-content: center;
}

.c-button:hover {
  cursor: pointer;
  background-color: rgb(207, 163, 248);
  border: inset rgb(23, 3, 59) 1.5px;
}

.c-button:active {
  background-color: rgb(65, 44, 138);
  transform: scale(0.95);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.display {
  width: 100%;
  margin: 1em 0.05em;
}
.history {
  float: right;
  position: absolute;
  top: 25%;
  left: 70%;
}

.frame {
  width: 80%;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
